<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30053">
		<setting type="lsep" label="30054"/>
		<setting id="buildname" type="text" label="30055" enable="false" default="No Build Installed"/>
		<setting id="buildversion" type="text" label="30056" enable="false" default="0"/>
		<setting id="firstrun" type="bool" label="First Run" visible="false"/>
		<setting id="firstrunNotify" type="bool" label="First Run" visible="false"/>
		<setting id="notifyversion" type="text" label="Notify Version: " visible="false" default="15"/>
		<setting id="autoclearpackages" type="bool" label="30057" visible="false" default = "false" />
		<setting id="update_passed" type="bool" label="Disable Update Notification" visible="false" default="true"/>
		<setting label="Backup Folder" type="folder" id="backupfolder" source="" option="writeable" default="/storage/emulated/0/BingieBuilds/" />
	</category>
</settings>